@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  cursor: pointer;
}

span {
  cursor: pointer;
}
h1,
h2,
h3 {
  font-family: Bebas Neue, sans-serif;
}

.primary-back {
  background: #e3ded3;
}

.beige {
  color: #e3ded3;
}

.color-grey {
  color: #404040;
}

.color-red {
  color: #a00000;
}

.size {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #404040;
  border-radius: 10%;
  border-radius: 0.5rem;
  font-family: "manrope";
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.size:hover {
  background-color: black;
  color: #e3ded3;
}

.button-black {
  background-color: black;
  color: #e3ded3;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: "manrope";
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.achat {
  background-color: black;
  color: #e3ded3;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: "manrope";
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.button-black:hover {
  background-color: #e3ded3;
  color: black;
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-family: Bebas Neue, sans-serif;
  text-shadow: -2px -2px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
